---
layout: default.njk
---

<section id="error" class="light-theme">
    <div class="inner-section">
        <h2>Whoops, sorry about that!</h2>
        <p>We weren't able to find the page you're looking for.</p>
        <a href="/">Return Home</a>
    </div>
</section>