---
layout: fullPage.njk
title: Blog Posts
---
<h1>Blog Posts</h1>
<div class="blog-items">
    {%- for item in collections.Blog | reverse -%}

    <a class="preview-wrapper"
        href="{{item.url}}">
        <!-- {% if
            item.data.tags.includes('Editorial')
            %}
            {% include "svgs/editorial.svg" %}
            {% elif
            item.data.tags.includes('Podcast')
            %}
            {% include "svgs/microphone.svg" %}
            {% elif
            item.data.tags.includes('Event')
            %}
            {% include "svgs/event.svg" %}
            {% endif %} -->
        <img class="preview-image"
            src="{{item.data.previewImage}}"
            alt="Cover image.">
        <div class="post-title">
            {{item.data.title}}</div>
    </a>

    {%- endfor -%}
</div>