---
layout: fullPage.njk
---
<a href="/">← Return Home</a>
<h1>Blog Posts</h1>
<div class="blog-items">
    {%- for item in collections.Blog | reverse -%}

    <div class="blog-item">

        {% if item.data.tags.includes('Editorial')
        %}
        {% include "svgs/editorial.svg" %}
        {% elif item.data.tags.includes('Podcast')
        %}
        {% include "svgs/microphone.svg" %}
        {% elif item.data.tags.includes('Event')
        %}
        {% include "svgs/event.svg" %}
        {% endif %}
    </div>
    <div class="blog-item">
        <img class="blog-preview-image"
            src="{{item.data.coverImage}}"
            alt="Cover image.">
        <a
            href="{{item.url}}">{{item.data.title}}</a>
    </div>

    {%- endfor -%}
</div>