---
layout: fullPage.njk
---
<h1>Campus Reports</h1>
<div class="reports-wrapper">
    <a target="_blank"
        href="/Midterm-Election.pdf"><img
            src="/assets/images/previews/Midterm-Cover-Image.png"
            alt=""></a>

    <a target="_blank"
        href="/General-Election.pdf"><img
            src="/assets/images/previews/General-Cover-Image.png"
            alt=""></a>
</div>