---
layout: default.njk
title: this is one ginormous test
---
<section class="light-theme">
<div class="inner-section">
<figure class="highcharts-figure">
    <div id="container"></div>
</figure>
<h2 class="title">The issue.</h2>
<p>Compared with other universities around the country, our voting rate is down. Not to mention that college students in general are one of the less well represented demographics, which compounds with issues of socio-economic status. According to the <a href="https://idhe.tufts.edu/nslve" target="_blank">National Study of Learning, Voting, and Education</a>, less than half of UVM's undergraduate students voted in the last general election.</p>

<p class="bold">We can fix this.</p>
</div>
</section>

<section class="dark-theme">
<div class="inner-section">
<h2 class="title">Two steps. Right now.</h2>
<ol>
    <li>Give people the resources to register.</li>
    <li>Provide a clear path toward voting.</li>
</ol>
<p>This semester, we're aiming to increase turnout through using a campaign style approach. <a href="https://www.voteforastra.org/" target="_blank">Vote for Astra</a> — founded by three civic-minded students who recently graduated — is also providing outside support and advice. Their core philosophy hinges on
peers helping each other through the voting system with incremental support. Whether it be confusion about how to register or feeling overwhelmed by the field of candidates, peer-to-peer work can lower these barriers to participation. We even have a resources indicating which states have
competetive races, helping students decide if they should vote locally or at home; this is particularly relevent since 80% of our student population is out-of-state.</p>
<p>The goals of this project become more accessible as our group composition becomes more varied, including more graduating years and degree paths.</p>
</div>
</section>

<section class="light-theme">
<div class="inner-section">
<h2 class="title">The Greater Vision</h2>
<p>Institutionalize voting.</p>

<p>UVM aleady has a handful of voting resources, but they're off the beaten path - physically and digitally. Solving for this, the administration should integrate voting the mainstream student experience. In person, this could be through orientation or move-in days. Or, why not follow in the footsteps of Stanford and Northwestern, affording students a step in their online registrtion process to consider their voting resources?</p>

<p>Through harmonizing the university's pre-exiting processes with registering students to vote, there's good reason to suspect this small change would pay off in significantly increased voter turnout. It has to be said that the university is uniquely positioned to help solve this problem. That's because, in some ways, going to school is about making the good decisions easier, like studying for French exams, chem finals, and anthro projects. It's not hard to imagine including voter registration.

Having already partnered with TurboVote, UVM has laid some of the groundwork for students to tread toward online resources. The hurdle of moving the existing civic groundwork into the limelight is a barrier worth crossing.</p>
</div>
</section>

<section class="dark-theme">
<div class="inner-section">
<h2 class="title">Get in touch!</h2>
<p>If this sounds interesting, don't hesitate to shoot me an email or text.</p>

<div class="contact-info">
    <img src="assets/images/headshot.jpg" class="profile-pic" alt="Portfolio picture of James">
    <a class="email" href = "mailto:james@uvm.vote">{% include "images/email.svg" %}james@uvm.vote</a>
    <a class="phone" href="tel:1-802-777-4849">{% include "images/speech-bubble.svg" %}(802) 777-4849</a>
</div>
</div>
</section>
