---
layout: default.njk
---
<section>
    <div class="inner-section hero-text">
        <div class="style-bar"></div>
        <h2 class="target-identity">Hey
            Catamounts,</h2>
        <h3 class="call-to-action">Plan to <span
                class="action-emphasis">Vote</span>
        </h3>
        <p>It's never too early to be ready —
            let's get to the ballot
            box.</p>
        <a target="_blank"
            href="https://go.uvm.edu/crf15"
            class="cta-btn">Make a
            Plan</a>

    </div>
</section>
<section>
    <div class="inner-section">
        <h2 class="title" data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">About
            Us</h2>
        <p data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">
            We're a non-partisan club committed to
            improving the student-voter
            experience. Sound like it
            matters?<br><a class="link"
                href="#sign-up">Get
                involved!</a>
        </p>

        <img src="assets/images/lizAndAidan.webp"
            alt="Picture of UVM Votes members carving pumpkins."
            data-sal="zoom-in"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">
    </div>
</section>

<section>
    <div class="inner-section" id="the-issue">
        <h2 class="title" data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">The
            Issue.</h2>

        <div class="non-flex-wrapper">
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
        <p data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">
            Our voting rate is down. Most
            colleges vote at a higher rate than
            us,
            to say nothing of the fact college
            students in general vote at lower
            rates than the average citizen.
            According to
            <a class="link" href="/campus-reports"
                target="_blank">our campus
                report</a>, fewer than
            half
            of UVM undergrads voted in the
            last general election.
        </p>

        <p data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back"
            class="bold">We can fix this.</p>
    </div>
</section>

<section class="fun-list">
    <div class="inner-section"
        id="greater-vision">
        <h2 class="title" data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">The
            Solution</h2>
        <p data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">
            Institutionalize voting! UVM can
            access thousands of students in a
            unique way which clubs alone simply
            aren't able. It also alleviates the
            strain of beginning fresh every
            election
            cycle by implementing reusable
            strategies
            with the administration. Here's what
            we're working on:</p>
        <ul>
            <li>Give students election day off as
                a campus-wide holiday, consistent
                with <a class="link"
                    target="_blank"
                    href="https://www.to2v.org/student-body-president-letter">the
                    letter the SGA signed</a>.
            </li>
            <li>Have UVM text every student a link
                to <a class="link" target="_blank"
                    href="https://uvm.turbovote.org">Turbo
                    Vote</a>.</li>
            <li>Integrate voter registration into
                student orientation days.</li>
            <li>Add a polling site for the <a
                    class="link" target="_blank"
                    href="https://vtcynic.com/news/a-gerrymandered-student-ward-how-burlingtons-ward-8-got-its-shape/">gerrymandered
                    student ward</a>.</li>
            <li>Bring voter registration to clubs,
                fraternities, and sororities.</li>
            <li>Research how to make SGA elections
                more competitive.</li>
        </ul>

        <div id="sign-up">
            <form name="Role request"
                method="POST" data-netlify="true"
                data-sal="zoom-in"
                data-sal-duration="1000"
                data-sal-easing="ease-out-back">
                <h3>Get Involved!</h3>
                <div class="user-box">
                    <input type="text" name="name"
                        required="" />
                    <label>Email:</label>
                </div>
                <div class="form-bottom">
                    <div class="quick-fix-thanks">
                        <label>
                            <input type="radio"
                                name="interest"
                                value="Volunteer"
                                checked="checked">
                            Volunteer
                        </label>
                        <label>
                            <input type="radio"
                                name="interest"
                                value="Organize">
                            Organize
                        </label>
                    </div>
                    <button
                        class="link-btn bg-blue"
                        type="submit">Submit</button>
                </div>

            </form>
        </div>
    </div>
</section>

<section>
    <div class="inner-section" id="contact-us">
        <h2 class="title" data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">
            Contact the Team!</h2>
        <p data-sal="slide-right"
            data-sal-duration="1000"
            data-sal-easing="ease-out-back">We're
            going into this work wide-eyed and
            would
            <em>love</em>
            to talk about it more, so don't
            hesitate to reach out!
        </p>

        <div class="grid-container" id="contact">
            <div class="contact-info">
                <img src="assets/images/profile-pics/headshot.webp"
                    class="profile-pic"
                    alt="Profile picture of James Tedesco">
                <div class="title">President</div>
                <a class="email link"
                    href="mailto:james@uvm.vote">{%
                    include "images/email.svg"
                    %}James Tedesco</a>
                <a class="phone link"
                    href="tel:1-802-777-4849">{%
                    include
                    "images/speech-bubble.svg"
                    %}(802) 777-4849</a>
            </div>
            <div class="contact-info"><img
                    src="assets/images/profile-pics/mia-headshot.webp"
                    class="profile-pic"
                    alt="Profile picture of Mia Dillon">
                <div class="title">Vice-President
                </div>
                <a class="email link"
                    href="mailto:mia@uvm.vote">{%
                    include "images/email.svg"
                    %}Mia Dillon</a>
            </div>
            <div class="contact-info">
                <img src="assets/images/profile-pics/aidan-headshot.webp"
                    class="profile-pic"
                    alt="Profile picture of Aidan May">
                <div class="title">SGA Liaison
                </div>
                <a class="email link"
                    href="mailto:aidan@uvm.vote">{%
                    include "images/email.svg"
                    %}Aidan May</a>
            </div>
            <div class="contact-info">
                <img src="assets/images/profile-pics/brian-headshot.webp"
                    class="profile-pic"
                    alt="Profile picture of Brian Donahue">
                <div class="title">Treasurer</div>
                <a class="email link"
                    href="mailto:brian@uvm.vote">{%
                    include "images/email.svg"
                    %}Brian Donahue</a>
            </div>
            <div class="contact-info">
                <img src="assets/images/profile-pics/sophie-headshot.webp"
                    class="profile-pic"
                    alt="Profile picture of Sophie Feldman">
                <div class="title">Engagement
                </div>
                <a class="email link"
                    href="mailto:sophie@uvm.vote">{%
                    include "images/email.svg"
                    %}Sophie Feldman</a>
                <a class="phone link"
                    href="https://www.instagram.com/uvmvotes/"
                    target="_blank">{% include
                    "svgs/instagram-color.svg"
                    %}Instagram</a>
            </div>
        </div>
    </div>
</section>