---
layout: fullPage
title: Semester's First Meeting!
---
<h1>First Meeting of the Semester!</h1>
<img src="/assets/images/uploads/13607.jpg"
    alt="">
<p><em>
        Take action! Come for donuts and cider as
        we talk about what makes
        student voting difficult and how we can
        improve the voter experience. <b>We're
            meeting this Monday, the 4th, in the
            Harris Millis Garage.</b></em>
</p>

<p>Students experience unique challenges to
    voting, and with most of UVM students
    attending from out-of-state, there is a wide
    spread of student-voter suppression efforts
    around the country. We can combat this with
    education, prepation, and organization. Join
    us for our first club meeting when we'll
    discuss plans for the year and opportunities
    to make voting a regular part of student life
    at UVM.
</p>

<style>
    img {
        max-height: 240px;
        object-position: 50% 13%;
        object-fit: cover;
    }

    .calendar-btns img {
        filter: drop-shadow(10px 8px 4px grey);
        transition: all .2s ease;
        margin: 10px;
        width: 80px;
    }

    .calendar-btns img:active {
        filter: drop-shadow(2px 2px 6px grey);
        margin-bottom: 5px;
    }
</style>