---
layout: fullPage
title: Semester's First Meeting!
---
<h1>First Meeting of the Semester!</h1>
<img src="/assets/images/uploads/IMG_3478.JPG"
    alt="">
<p><em>
        Take action! Come for Vermont donuts,
        cider and a conversation about what makes
        student voting difficult and how we can
        eliminate those barriers. <b>We're
            meeting this Monday, the 4th, in the
            Harris Millis Garage.</b></em>
</p>

<p>Students experience unique challenges to
    voting, and with most of UVM students
    attending from out-of-state, there is a wide
    spread of student-voter suppression efforts
    around the country. We can combat this with
    education, prepation, and organization. Join
    us for our first club meeting when we'll
    discuss plans for the year and opportunities
    to make voting a regular part of student life
    at UVM.
</p>

<p
    style="margin:0px 0px 10px 0px;text-align:center;line-height:150%;color:#000;font-weight:bold;">
    Add Event to Calendar</p>
<p class="calendar-btns"
    style="margin:0px 0px 10px 0px;text-align:center;font-size:0px;">
    <a href="https://www.addevent.com/event/nY9016698+apple"
        title="Apple" target="_blank"
        style="display:inline;"><img
            src="/assets/images/appleLogo.png"
            alt="Apple" border="0"
            style="display:inline;" /></a><a
        href="https://www.addevent.com/event/nY9016698+google"
        title="Google" target="_blank"
        style="display:inline;"><img
            src="/assets/images/googleLogo.png"
            alt="Google" border="0"
            style="display:inline;" /></a>
</p>

<iframe
    src="https://docs.google.com/forms/d/e/1FAIpQLSea67CXGdhGvhLhn2jLmHyxUaj6LvG6lkCAwwMQpyIENv3oMg/viewform?embedded=true"
    width="100%" height="744" frameborder="0"
    marginheight="0"
    marginwidth="0">Loading…</iframe>

<style>
    img {
        max-height: 400px;
        object-position: 50% 13%;
        object-fit: cover;
    }

    .calendar-btns img {
        filter: drop-shadow(10px 8px 4px grey);
        transition: all .2s ease;
        margin: 10px;
        width: 80px;
    }

    .calendar-btns img:active {
        filter: drop-shadow(2px 2px 6px grey);
        margin-bottom: 5px;
    }
</style>