---
layout: fullPage.njk
---
<div class="table">
    {%- for post in collections.meetingMinutes |
    reverse
    -%}
    <div class="table-item">
        {{post.data.date | readableDate}}&nbsp;
    </div>
    <div class="table-item">
        — <a
            href="{{post.url}}">{{post.data.title}}</a>
    </div>
    {%- endfor -%}
</div>