---
layout: fullPage.njk
---
<div class="fun-list">
    <h2>In Progress</h2>
    <ul>
        <li>Integrate voter registration into
            student orientation days.</li>
        <li>Add a polling site for the <a
                class="link" target="_blank"
                href="https://vtcynic.com/news/a-gerrymandered-student-ward-how-burlingtons-ward-8-got-its-shape/">gerrymandered
                student ward</a>.</li>
    </ul>
    <h2>On Deck</h2>
    <ul>
        <li>Give students election day off as
            a campus-wide holiday, consistent
            with <a class="link" target="_blank"
                href="https://www.to2v.org/student-body-president-letter">the
                letter the SGA signed</a>.
        </li>
        <li>Bring voter registration to clubs,
            fraternities, and sororities.</li>
        <li>Research how to make SGA elections
            more competitive.</li>
    </ul>
    <h2>Completed</h2>
    <ul>
        <li>Have UVM text every student a link
            to <a class="link" target="_blank"
                href="https://uvm.turbovote.org">Turbo
                Vote</a>.</li>
        <li>SGA signature on petition from
            students to
            companies, as our future employers,
            endorsing paid Time Off To Vote.</li>
    </ul>
</div>