---
layout: fullPage.njk
---
<ul>
    <li>Give students election day off as
        a campus-wide holiday, consistent
        with <a class="link" target="_blank"
            href="https://www.to2v.org/student-body-president-letter">the
            letter the SGA signed</a>.
    </li>
    <li>Have UVM text every student a link
        to <a class="link" target="_blank"
            href="https://uvm.turbovote.org">Turbo
            Vote</a>.</li>
    <li>Integrate voter registration into
        student orientation days.</li>
    <li>Add a polling site for the <a class="link"
            target="_blank"
            href="https://vtcynic.com/news/a-gerrymandered-student-ward-how-burlingtons-ward-8-got-its-shape/">gerrymandered
            student ward</a>.</li>
    <li>Bring voter registration to clubs,
        fraternities, and sororities.</li>
    <li>Research how to make SGA elections
        more competitive.</li>
</ul>