---
layout: fullPage.njk
---
<h2 class="title">Resources</h2>
<ul>
    <li>
        <a
            href="https://www.brookings.edu/research/voting-by-mail-in-a-pandemic-a-state-by-state-scorecard/">State
            Voting Access Scorecard</a>
    </li>
    <li>
        <a
            href="https://www.vote.org/am-i-registered-to-vote/">Am
            I registered to vote?</a>
    </li>
    <li>
        <a
            href="https://www.vote.org/voter-registration-deadlines/">Voter
            paperwork deadlines</a>
    </li>
    <li>
        <a
            href="https://docs.google.com/document/d/1s-ecUu-Gai5_TQhCAkCVSlXEcq4s8nbonFZeZ3CjAkE/edit?usp=sharing">Should
            I vote in my home state or
            Vermont?</a>
    </li>
    <li>
        <a
            href="https://ballotpedia.org/Sample_Ballot_Lookup">Preview
            of election day ballot</a>
    </li>
    <li>
        <a
            href="https://ballotpedia.org/2020_ballot_measures">In
            which states are ballot
            measures (popular votes) being
            taken?</a>
    </li>
    <li>
        <a
            href="https://www.politico.com/2020-election/race-forecasts-and-predictions/senate/">Senate
            Election Forecast: Toss-up
            States</a>
    </li>
</ul>