---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "UVM Votes",
    "subtitle": "",
    "image": "/assets/images/square.jpg",
    "url": "https://uvm.vote/",
    "feedUrl": "https://uvm.vote/feed.xml",
    "author": {
      "name": "James Tedesco",
      "email": "james@uvm.vote"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.podcasts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for podcast in collections.podcasts %}
  {% set absolutePostUrl %}{{ podcast.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ podcast.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ podcast.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ podcast.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>