@font-face {
    font-family : 'Bungee Shade';
    font-style  : normal;
    font-weight : 400;
    font-display: swap;
    src         : local('Bungee Shade'), local('BungeeShade-Regular'), url(/assets/fonts/BungeeShade-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Cutive;
    src        : url(assets/Cutive-Regular.ttf);
}

body {
    margin     : 0;
    font-size  : 1.1em;
    line-height: 2em;
    font-family: 'Cutive', serif;
}


.evc-banner {
    background-color: #B2D23E;
    color           : #007155;
    text-align      : center;
    padding         : 10px 0;
    font-size       : 1.6em;
    margin          : 0;
    margin-bottom   : 15px;
    transition      : ease 0.2s all;
    line-height     : 1.1em;
    font-family     : 'Bungee Shade', cursive;
    position        : relative;
    z-index         : 1;
    text-shadow     : -1px 1px 5px white;
}

.uvm-banner {
    color           : white;
    background-color: #F47D20;
    padding         : 0 25px;
    display         : flex;
    align-items     : center;
    float           : right;
    margin-bottom   : 15px;
    font-size       : 0.7em;
    font-family     : 'Bungee Shade', cursive;
    position        : relative;
    z-index         : 1;
    text-shadow     : -1px 1px 3px black;
}

.uvm-banner .uvm-logo {
    height      : 50px;
    margin-right: 10px;
}

.header {
    background-color: #BBE5FB;
    position        : relative;
    overflow        : hidden;
}


.header .texture {
    position               : absolute;
    left                   : 0;
    top                    : 0;
    width                  : 100%;
    height                 : 100%;
    opacity                : 0.1;
    background-image       : url("assets/images/topography.png");
    -ms-background-size    : cover;
    -o-background-size     : cover;
    -moz-background-size   : cover;
    -webkit-background-size: cover;
    background-size        : cover;
}

.hero-background {
    position               : absolute;
    left                   : 0;
    top                    : 0;
    width                  : 250%;
    height                 : 250%;
    opacity                : 0.1;
    background-image       : url(assets/images/topography.svg);
    -ms-background-size    : contain;
    -o-background-size     : contain;
    -moz-background-size   : contain;
    -webkit-background-size: contain;
    background-size        : contain;
}

.header .inner-section {
    min-height: auto;
    text-align: left;
    position  : relative;
    z-index   : 1;
}

.header p {
    margin: 0;
}

section {
    margin-bottom  : 40px;
    display        : flex;
    justify-content: start;
}

section {
    padding-bottom: 60px;
    margin-bottom : 0;
}

.light-theme h2 {
    color: #007155;
}

section.light-theme {
    background: #e6f3e6;
}

.dark-theme {
    background-color: #007155;
    color           : white;
}

.dark-theme h2 {
    color: #D9F420;
}

.contact-info {
    display              : grid;
    grid-template-areas  : "profile email""profile phone";
    grid-template-columns: repeat(2, minmax(auto, 500px));
    justify-content      : center;
}

.contact-info * {
    display     : flex;
    justify-self: center;
    align-self  : center;
}

.profile-pic {
    height       : 150px;
    border-radius: 50%;
    grid-area    : profile;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.phone:before {
    content     : "\260e";
    margin-right: 0.5em;
}

/* layout widths */

.inner-section {
    margin    : 0 auto;
    padding   : 15px;
    transition: width ease 0.2s;
}

@media only screen and (min-width: 600px) {
    .inner-section {
        width: 500px;
    }

    .header .inner-section {
        min-height: 150px;
        text-align: center;
    }

    body {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 800px) {
    .inner-section {
        width: 600px;
    }
}

@media only screen and (min-width: 1000px) {
    .inner-section {
        width: 700px;
    }
}

@media only screen and (min-width: 1200px) {
    .inner-section {
        width: 900px;
    }
}

@media only screen and (min-width: 1500px) {
    .inner-section {
        width: 1100px;
    }
}

/* utilities */
.bold {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color          : #67d2ff;
    font-weight    : bold;
}

.header a,
section:first-of-type a {
    color: #0074ff;
}


/* responseive media queries */
@media only screen and (min-width: 780px) {

    .evc-banner {
        margin : 0 0 15px;
        padding: 15px;
    }

    header {
        font-size: 1.2em;
    }
}



/* highcharts styles */
.highcharts-data-table table,
.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin   : 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family    : Verdana, sans-serif;
    border-collapse: collapse;
    border         : 1px solid #EBEBEB;
    margin         : 10px auto;
    text-align     : center;
    width          : 100%;
    max-width      : 500px;
}

.highcharts-data-table caption {
    padding  : 1em 0;
    font-size: 1.2em;
    color    : #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding    : 0.5em;
}

.highcharts-data-table caption,
.highcharts-data-table td,
.highcharts-data-table th {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}