@font-face {
    font-family: 'Bungee Shade';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bungee Shade'), local('BungeeShade-Regular'), url(/assets/fonts/BungeeShade-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Cutive;
    src: url(/assets/Cutive-Regular.ttf);
}

/* utilities */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1.1em;
    line-height: 2em;
    font-family: 'Cutive', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#error {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
}

p {
    margin: 40px 0;
}

.bold {
    font-weight: bolder;
}

a.link-btn {
    text-decoration: none;
    background-color: #07a2e4;
    color: white;
    transition: all .2s ease;
    text-align: center;
    margin: 2em 0;
    align-self: center;
    width: fit-content;
    padding: 10px 4em;
    border-radius: 10px;
}

a.link-btn:hover {
    background-color: #048ac3;
}

/* general styles */
.evc-banner {
    background-color: #B2D23E;
    color: #007155;
    text-align: center;
    padding: 10px 0;
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 15px;
    transition: ease 0.2s all;
    line-height: 1.1em;
    font-family: 'Bungee Shade', cursive;
    position: relative;
    z-index: 1;
    text-shadow: -1px 1px 1px white;
}

.uvm-banner {
    color: white;
    background-color: #F47D20;
    padding: 0 25px;
    display: flex;
    align-items: center;
    float: right;
    margin-bottom: 15px;
    font-size: 0.7em;
    font-family: 'Bungee Shade', cursive;
    position: relative;
    z-index: 1;
    text-shadow: -1px 1px 1px black;
}

.uvm-banner .uvm-logo {
    height: 50px;
    margin-right: 10px;
}

.header {
    background-color: #BBE5FB;
    position: relative;
    overflow: hidden;
}

.header .inner-section {
    display: block;
}

.hero-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 250%;
    height: 250%;
    opacity: 0.1;
    background-image: url(/assets/images/topography.svg);
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.header .inner-section {
    min-height: auto;
    text-align: left;
    position: relative;
    z-index: 1;
}

.header p {
    margin: 0;
}

.title {
    margin-bottom: 0;
}

/* Side-by-side boxes */
.roles-wrapper {
    display: grid;
    grid-template-areas: "volunteer organize";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

/* temporary solution - so much is wrong here */
@media only screen and (max-width: 900px) {
    .roles-wrapper {
        grid-template-areas: "volunteer"
            "organize";
        grid-template-columns: 1fr;
    }
}

.roles-wrapper>.role {
    background-color: #fff8f8;
    color: green;
    overflow: hidden;
}

.role h3 {
    background-color: #F47D20;
    margin: 0;
    text-align: center;
    padding: .5em;
    color: white;
}

.description {
    display: grid;
    grid-template-areas: "icon header"
        "icon description";
    padding: 1em;
}

.desc-icon {
    height: 50px;
    grid-area: icon;
    margin-right: 10px;
}

.description h4 {
    margin: 0;
}



/* theme dependent styles */

.link {
    text-decoration: none;
    color: #67d2ff;
}

.link:hover {
    text-decoration: underline;
}

/* force catch of two light theme links */
.light-theme a {
    color: #0074ff;
    font-weight: bold;
}

.light-theme h2 {
    color: #007155;
}

section.light-theme {
    background: #e6f3e6;
}

.dark-theme {
    background-color: #007155;
    color: white;
}

.dark-theme h2 {
    color: #D9F420;
}

.contact-info {
    display: grid;
    grid-template-areas:
        "profile . email"
        "profile . phone";
    grid-template-columns: minmax(auto, 500px) minmax(auto, 100%) minmax(auto, 500px);
    justify-content: center;
    padding-bottom: 60px;
}

.contact-info svg {
    height: 2em;
    margin-right: 10px;
}

.profile-pic {
    height: 5.8em;
    width: auto;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-self: center;
    grid-area: profile;
}

.email {
    grid-area: email;
    display: flex;
    align-self: center;
}

.phone {
    grid-area: phone;
    display: flex;
    align-self: center;
}

/* layout widths */
.inner-section {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: width ease 0.2s;
}


@media only screen and (min-width: 600px) {
    .inner-section {
        width: 500px;
    }

    .header .inner-section {
        min-height: 150px;
        text-align: center;
    }

    body {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 800px) {
    .inner-section {
        width: 600px;
    }

    .evc-banner {
        margin: 0 0 15px;
        padding: 15px;
    }

    header {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1000px) {
    .inner-section {
        width: 700px;
    }
}

@media only screen and (min-width: 1200px) {
    .inner-section {
        width: 900px;
    }
}

@media only screen and (min-width: 1500px) {
    .inner-section {
        width: 1100px;
    }
}


/* highcharts styles */
.highcharts-data-table table,
.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table caption,
.highcharts-data-table td,
.highcharts-data-table th {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}