body {
    margin: 0;
    font-size: 1.6em;
    line-height: 2em;
}


.evc-banner {
    background-color: #B2D23E;
    color: #007155;
    text-align: center;
    padding: 10px 0;
    font-size: 1.6em;
    margin: 15px 0;
    transition: ease 0.2s all;
    line-height: 1.1em;
}

.uvm-banner {
    color: white;
    background-color: #F47D20;
    padding: 0 25px;
    display: flex;
    align-items: center;
    float: right;
    margin-bottom: 15px;
    font-size: 0.5em;
}

.uvm-banner .uvm-logo {
    height: 50px;
    margin-right: 10px;
}

.header {
    background-color: #BBE5FB;
    position: relative;
    overflow: hidden;
    z-index: -1;
}


.header .texture {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.1;
    background-image: url("assets/images/topography.png");
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

 section {
    margin-bottom: 40px;
    display: flex;
    justify-content: start;
}

section {
    padding-bottom: 60px;
    margin-bottom: 0;
}

.light-theme h2 {
    color: #007155;
}
section.light-theme {
    background: #e6f3e6;
}

.dark-theme {
    background-color: #007155;
    color: white;
}
.dark-theme h2 {
    color: #D9F420;
}

a {
    text-decoration: none;
    color: #3B84DD;
    font-weight: bold;
}

.voting-rate-pic {
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

.contact-info {
    display: grid;
    grid-template-areas: "profile email" "profile phone";
    grid-template-columns: repeat(2, minmax(auto, 500px));
    justify-content: center;
}

.contact-info * {
    display: flex;
    justify-self: center;
    align-self: center;
}

.profile-pic {
    height: 150px;
    border-radius: 50%;
    grid-area: profile;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.phone:before {
    content: "\260e";
    margin-right: 0.5em;
}

/* layout widths */

.inner-section {
    margin: 0 auto;
    width: 100%;
    padding: 15px;
    transition: width ease 0.2s;
}

@media only screen and (min-width: 600px) {
    .inner-section {width: 500px;}
}

@media only screen and (min-width: 800px) {
    .inner-section {width: 600px;}
}

@media only screen and (min-width: 1000px) {
    .inner-section {width: 700px;}
}

@media only screen and (min-width: 1200px) {
    .inner-section {width: 900px;}
}

@media only screen and (min-width: 1500px) {
    .inner-section {width: 1100px;}
}

/* Utilities */
.bold {
    font-weight: bolder;
}


/* responseive media queries */
@media only screen and (min-width: 780px) {

    .evc-banner {
        margin: 0 0 15px;
        padding: 15px;
    }

    header {
        font-size: 1.5em;
    }
}



/* highcharts styles */
.highcharts-data-table table,
.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table caption,
.highcharts-data-table td,
.highcharts-data-table th {
    padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}