@font-face {
    font-family: 'Bungee Shade';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Bungee Shade'), local('BungeeShade-Regular'), url(/assets/fonts/BungeeShade-Regular.woff2) format('woff2');
}

@font-face {
    font-family: Cutive;
    src: url(/assets/Cutive-Regular.ttf);
}

/* utilities */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 1.1em;
    line-height: 2em;
    font-family: 'Cutive', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    display: flex;
}

main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#error {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    text-align: center;
}

p {
    margin: 40px 0;
}

.bold {
    font-weight: bolder;
}

.link-btn {
    text-decoration: none;
    background-color: #07a2e4;
    color: white;
    transition: all .2s ease;
    text-align: center;
    align-self: center;
    width: fit-content;
    font-size: inherit;
    padding: 1em 2em;
    border-radius: 10px;
    border: none;
}

.link-btn:hover {
    background-color: #048ac3;
    cursor: pointer;
    border: none;
}

/* general styles */
.evc-banner {
    background-color: #B2D23E;
    color: #007155;
    text-align: center;
    padding: 10px 0;
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 15px;
    transition: ease 0.2s all;
    line-height: 1.1em;
    font-family: 'Bungee Shade', cursive;
    position: relative;
    z-index: 1;
    text-shadow: -1px 1px 1px white;
}

.uvm-banner {
    color: white;
    background-color: #F47D20;
    padding: 0 25px;
    display: flex;
    align-items: center;
    float: right;
    margin-bottom: 15px;
    font-size: 0.7em;
    font-family: 'Bungee Shade', cursive;
    position: relative;
    z-index: 1;
    text-shadow: -1px 1px 1px black;
}

.uvm-banner .uvm-logo {
    height: 50px;
    margin-right: 10px;
}

.header {
    background-color: #BBE5FB;
    position: relative;
    overflow: hidden;
}

.header .inner-section {
    display: block;
}

.hero-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 250%;
    height: 250%;
    opacity: 0.1;
    background-image: url(/assets/images/topography.svg);
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.header .inner-section {
    text-align: left;
    position: relative;
    z-index: 1;
}

.header p {
    margin: 0;
}

.title {
    margin-bottom: 0;
}


/* form styles */


form {
    margin: 20px 0;
    padding: 40px;
    background-color: rgb(168 170 166 / 50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

form h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

form .user-box {
    position: relative;
}

form .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: inherit;
}

form .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

form .user-box input:focus~label,
form .user-box input:valid~label {
    top: -30px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

form form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

form a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

form a span {
    position: absolute;
    display: block;
}

form a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

form a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

form a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

form a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.form-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/* Side-by-side boxes */
.roles-wrapper {
    display: grid;
    grid-template-areas: "volunteer organize";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

/* temporary solution - so much is wrong here */
@media only screen and (max-width: 900px) {
    .roles-wrapper {
        grid-template-areas: "volunteer"
            "organize";
        grid-template-columns: 1fr;
    }
}

.roles-wrapper>.role {
    background-color: #fff8f8;
    color: green;
    overflow: hidden;
}

.role h3 {
    background-color: #F47D20;
    margin: 0;
    text-align: center;
    padding: .5em;
    color: white;
}

.description {
    display: grid;
    grid-template-areas: "icon header"
        "icon description";
    padding: 1em;
}

.desc-icon {
    height: 50px;
    grid-area: icon;
    margin-right: 10px;
}

.description h4 {
    margin: 0;
}

.description div {
    color: #363636;
}



/* theme dependent styles */

.link {
    text-decoration: none;
    color: #67d2ff;
}

.link:hover {
    text-decoration: underline;
}

/* force catch of two light theme links */
.light-theme a {
    color: #0074ff;
    font-weight: bold;
}

.light-theme h2 {
    color: #007155;
}

section.light-theme {
    background: #e6f3e6;
}

.dark-theme {
    background-color: #007155;
    color: white;
}

.dark-theme h2 {
    color: #D9F420;
}

.contact-info {
    display: grid;
    grid-template-areas:
        "profile . email"
        "profile . phone";
    grid-template-columns: minmax(auto, 500px) minmax(auto, 100%) minmax(auto, 500px);
    justify-content: center;
    padding-bottom: 60px;
}

.contact-info svg {
    height: 2em;
    margin-right: 10px;
}

.profile-pic {
    height: 5.8em;
    width: auto;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-self: center;
    grid-area: profile;
}

.email {
    grid-area: email;
    display: flex;
    align-self: center;
}

.phone {
    grid-area: phone;
    display: flex;
    align-self: center;
}

/* layout widths */
.inner-section {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    transition: width ease 0.2s;
}

.inner-section>* {
    margin: 20px 0;
}


@media only screen and (min-width: 600px) {
    .inner-section {
        width: 500px;
    }

    .header .inner-section {
        padding: 40px 0;
        text-align: center;
    }

    body {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 800px) {
    .inner-section {
        width: 600px;
    }

    .evc-banner {
        margin: 0 0 15px;
        padding: 15px;
    }

    header {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1000px) {
    .inner-section {
        width: 700px;
    }
}

@media only screen and (min-width: 1200px) {
    .inner-section {
        width: 900px;
    }
}

@media only screen and (min-width: 1500px) {
    .inner-section {
        width: 1100px;
    }
}


/* highcharts styles */
.highcharts-data-table table,
.highcharts-figure {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table caption,
.highcharts-data-table td,
.highcharts-data-table th {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}