<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-151087295-2"></script>
        <script>
            if (window.location.href != "http://localhost:8080/") {
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-151087295-2');
            } else {
                console.log('Site Anouncement: analytics disabled - dev environment')
            }
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UVM Votes</title>
        <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon.ico">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon.ico">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.ico">
        <link rel="manifest" href="assets/site.webmanifest">

        {# meta social tags #}
        <!-- Primary Meta Tags -->
        <meta name="title" content="UVM Votes">
        <meta name="description" content="A student-led coalition focused on voter registration, education, and reform.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.uvm.vote/">
        <meta property="og:title" content="UVM Votes">
        <meta property="og:description" content="A student-led coalition focused on voter registration, education, and reform.">
        <meta property="og:image" content="https://www.uvm.vote/assets/images/UVM-Votes-Preview-9-9-20.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.uvm.vote/">
        <meta property="twitter:title" content="UVM Votes">
        <meta property="twitter:description" content="A student-led coalition focused on voter registration, education, and reform.">
        <meta property="twitter:image" content="https://www.uvm.vote/assets/images/UVM-Votes-Preview-9-9-20.png">

        <style>
            {% include "styles/site.css" %}
        </style>

    </head>

    <!-- If you're looking at the code, chances are, you might want to contribute to this project. Check out the Github repo here: https://github.com/JamesTedesco/uvm.vote -->
    <body>

        <header class="header">

            <div class="evc-banner">
                <img src="/assets/images/uvm-logo.png" class="uvm-logo" alt="UVM Logo">
                <h1>UVM VOTES</h1>
            </div>
            <div class="uvm-banner">
                <a href="https://twitter.com/uvmVotes" target="_blank">
                    {% include "svgs/twitter-color.svg" %}</a>
                <a href="https://www.instagram.com/uvmvotes/" target="_blank">
                    {% include "svgs/instagram-color.svg" %}</a>
            </div>
            <div class="hero-background"></div>
            <div class="inner-section light-theme org-description">
                <p>A student-led coalition focused on voter registration, education, and reform.</p>
            </div>

        </header>

        <main>

            {{ content | safe }}

        </main>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="/assets/scripts/site.js"></script>
    </body>
</html>