<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-151087295-2"></script>
        <script>
            if (window.location.href != "http://localhost:8080/") {
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-151087295-2');
            } else {
                console.log('Site Anouncement: analytics disabled - dev environment')
            }
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Every Vote Counts - UVM Chapter</title>
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
        <link rel="manifest" href="assets/site.webmanifest">

        {# meta social tags #}
        <!-- Primary Meta Tags -->
        <meta name="title" content="Every Vote Counts - UVM Chapter">
        <meta name="description" content="As a chapter of EVC, we're a student led coalition focused on voter registration, education, and reform.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.uvm.vote/">
        <meta property="og:title" content="Every Vote Counts - UVM Chapter">
        <meta property="og:description" content="As a chapter of EVC, we're a student led coalition focused on voter registration, education, and reform.">
        <meta property="og:image" content="assets/images/UVM-every-vote-counts-preview.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.uvm.vote/">
        <meta property="twitter:title" content="Every Vote Counts - UVM Chapter">
        <meta property="twitter:description" content="As a chapter of EVC, we're a student led coalition focused on voter registration, education, and reform.">
        <meta property="twitter:image" content="https://www.uvm.vote/assets/images/UVM-every-vote-counts-preview.png">

        <style>
            {% include "styles/site.css" %}
        </style>

    </head>

    <!-- If you're looking at the code, chances are, you might want to contribute to this project. Check out the Github repo here: https://github.com/JamesTedesco/uvm.vote -->
    <body>

        <header class="header">

            {# <img src="assets/images/topography.png" class="topography" alt="topographical style overlay"> #}
            <h1 class="evc-banner">EVERY VOTE COUNTS</h1>
            <div class="uvm-banner">
                <img src="/assets/images/uvm-logo.png" class="uvm-logo" alt="UVM Logo">
                <h1>UVM</h1>
            </div>
            {# <div class="texture"></div> #}
            <div class="hero-background"></div>
            <div class="inner-section light-theme">
                <p>As a chapter of
                    <a class="link" href="https://www.evcnational.org/" target="_blank">EVC National</a>, we're a student led coalition focused on voter registration, education, and reform.</p>
            </div>

        </header>

        <main>

            {{ content | safe }}

        </main>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="/assets/scripts/site.js"></script>
    </body>
</html>