<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Every Vote Counts - UVM</title>
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
        <link rel="manifest" href="assets/images/site.webmanifest">
        <style>
            {% include "styles/site.css" %}
        </style>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    </head>

    <!-- If you're looking at the code, chances are, you might want to contribute to this project. Check out the Github repo here: https://github.com/JamesTedesco/uvm.vote -->
    <body>

        <header class="header">

            {# <img src="assets/images/topography.png" class="topography" alt="topographical style overlay"> #}
            <h1 class="evc-banner">Every Vote Counts</h1>
            <div class="uvm-banner">
                <img src="assets/images/uvm-logo.png" class="uvm-logo" alt="UVM Logo">
                <h1>UVM</h1>
            </div>
            <div class="texture"></div>
            <div class="inner-section">
                <p>We're the University of Vermont's chapter of Every Vote Counts National. EVC is a student lead organization focused on civic engagement, with tenet focuses on voter registration, education, and reform.</p>
            </div>

        </header>

        <main>

            {{ content | safe }}

        </main>

        <script>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'National Average vs. UVM'
                },
                xAxis: {
                    categories: [
                        'Voting Rate of Registered Students', 'Overall Voting Rate', 'Undergrad Voting Rate'
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '% of Students'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' + '<td style="padding:0"><b>{point.y:.1f}%</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    },
                    series: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [
                    {
                        name: 'National',
                        data: [
                            68, 50.4, 47.2
                        ],
                        color: "gold"

                    }, {
                        name: 'UVM',
                        data: [
                            62.7, 46.2, 42.8
                        ],
                        color: "green"
                    }
                ]
            });
        </script>
    </body>
</html>