---
layout: fullPage.njk
---
<a href="/minutes">← Return to Minutes</a>

<h1> {{title}} </h1>

{{content | safe}}


{% if actionItems %}
<br>
<h2>Actionables</h2>
{% for item in actionItems %}
<div class="project-assignment">
    <div>
        <b>Project:</b> {{item.actionItem}}
    </div>
    <div>
        <b>Assigned to:</b> {{item.assignment}}
    </div>
</div>
{% endfor %}
{% endif %}


<br>
<br>
Submitted: {{date | readableDate}}

{% set previousPost = collections.meetingMinutes |
getPreviousCollectionItem(page) %}
{% set nextPost = collections.meetingMinutes |
getNextCollectionItem(page) %}

<div class="post-btn-wrapper">
    <div>{% if previousPost %}<a
            href="{{ previousPost.url }}">← Last
            Week</a>{% endif %}</div>
    <div>{% if nextPost %}<a
            href="{{ nextPost.url }}">Next Week
            →</a>{% endif %}</div>
</div>